.box-image-text.blog:hover .text {
  transform: translate(0, 20%);
  -webkit-transform: translate(0, 20%);
  -ms-transform: translate(0, 20%);
}

.box-image-text.blog .text {
  transition: none;
  -webkit-transition: none;
}
