.box-image-text.blog:hover .text {
  transform: translate(0, 20%);
  -webkit-transform: translate(0, 20%);
  -ms-transform: translate(0, 20%);
}

.box-image-text.blog .text {
  transition: none;
  -webkit-transition: none;
}

/* Increase vertical spacing between sections */
.bar {
    padding: 20px 0;
}

/* Slightly more horizontal padding for containers within sections */
.bar .container {
    padding-left: 25px;
    padding-right: 25px;
}
