<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="{{ printf "%s%s" .Site.Data.newsletter.action_url .Site.Data.newsletter.username }}"
              method="post"
              target="popupwindow"
              class="form-inline"
              role="form">
            <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Your email address" required>
            </div>
            <button type="submit" class="btn btn-template-main">Subscribe</button>
        </form>
    </div>
</div>
